p {
  font-family: arial;
  font-weight: bold;
  margin: 0;
}
.border {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px;
  max-width: 300px;
}

.inner-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-right: 12px;
}

.number {
  margin: 0;
  background-color: rgb(42, 135, 223);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 14px;
}