p {
  font-family: arial;
  font-weight: bold;
  color: white;
}
.row {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.home {
  margin-left: 16px;
}

.search {
  height: 30px;
  border-radius: 30px;
  border-style: none;
  flex:1;
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px; 
}

.download {
  margin-right: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.download:hover {
  cursor: pointer;
  opacity: 0.7;
}

