p {
  font-family: verdana;
  margin-top: 0;
  margin-bottom: 0;
  }
  
  .html {
      font-weight: bold;
      font-size: 19px;
      
  }
  
  .pro {
      font-size: 17px;
      color: rgb(96, 96, 96);
      margin-top: 2px;
  }
  
  .contaxt {
      margin-top: 20px;
      width: 320px;
      font-size: 17px;
  }
  
  button {
  color: white;
  background-color: rgb(28, 134, 28);
  border-radius: 6px;
  border-style: none;
  margin-top: 20px;
  font-size: 16px;
  
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  }
  
  button:hover {
      cursor: pointer;
      text-decoration: underline;
  }