p {
  font-family: arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  }
  
  .top-1{
  
    font-size: 20px;
    color: rgb(230, 24, 24);
    font-weight: bold;
  }
  
  .mid-top {
    font-size: 25px;
    margin-top: 4px;
    font-weight: bold;
  }
  
  .mid-bottom {
  font-size: 45px;
  margin-top: 4px;
  font-weight: bold;
  }
  
  .bottom-1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  }
  
  .buy {
    color: white;
    background-color: rgb(51, 51, 233);
    border-radius: 30px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
  
    cursor: pointer;
  
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
  
  }