.div-1 {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 10px;
}

.div-2 {
  background-color: green;
  width: 100px;
  height: 100px;
  display: inline-block;

  border-radius: 100px;
}